* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    padding: 20px;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

hr.divider {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
}